<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js Learning</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <style media="screen">
            body {
                margin: 2em 0;
            }
        </style>
    </head>
    <body>
        <div id="demo" class="container">
            <div class="form-group">
                 <label for="name">Name</label>
                 <input id="name" type="text" v-model="name" />
             </div>

             <div class="form-group">
                    <div class="checkbox">
                    <label for="my-checkbox">
                        <input id="my-checkbox" name="my-checkbox" type="checkbox" v-model="checked"> {{ checked }}
                    </label>
               </div>
           </div>

            <hr>

            <pre>
                {{ $data | json }}
            </pre>
        </div>

        <script src="bower_components/vue/dist/vue.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
